*, 
*:before, 
*:after {
	box-sizing: border-box;
} 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* Added it by yourself*/
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-width: 320px; 
	font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*general styles */
header {
	padding: 80px;
}

.logo {
	width: 100px;
	height: 60px;
	display: block;
	margin: 0 auto 80px;
}

.nav {
	list-style:none;
	display: flex;
	justify-content: center; 
	padding: 0;
	margin: 0;
}
.nav-item {
	margin: 0 40px;
}

.nav-item a {
	color: #000;
	font-size: 20px;
}

.burger-menu {
	width: 48px;
	height: 30px;
	cursor: pointer;
	display: none;
	}	
.burger-menu-line {
	display: block;
	width: 48px;
	height: 5px;
	background: #000;
	position: relative;
}
.burger-menu-line:before,
.burger-menu-line:after {
	content: "";
	display: block;
	width: 48px;
	height: 5px;
	background: #000;
	position: absolute;
	left: 0;
}
.burger-menu-line:before {
	top: 10px;
}
.burger-menu-line:after {
	top: 20px;
}

header .contact-form {
	display: none;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}


/* tablet */
@media only screen
and (min-width: 376px)
and (max-width: 1024px) {
	.nav {
		display:none;
	}
	.burger-menu {
		display: block;
	}
	.menu-open header {
	background: #000; 	
	}
	.menu-open .logo * {
		fill: #fff;	
	}
	.menu-open .burger-menu-line,
	.menu-open .burger-menu-line:before,
	.menu-open .burger-menu-line:after  {
		background: #fff;
	}
}


/* mobile */
@media only screen
and (min-width: 0)
and (max-width: 375px) {
	.logo {
		display: none;
	}
	.nav {
		display:none;
	}
	.burger-menu {
		display: block;
	}
	.menu-open header {
		background: #000;
	}
	.menu-open .logo * {
		fill: #fff;
	}
	.menu-open .burger-menu-line,
	.menu-open .burger-menu-line:before  {
		background: #fff;
	}
	.menu-open .burger-menu-line:after {
		display: none;
	}
}
